@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.principal {
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.cxesquerda {
    background-color: #c358ed;
    width: 180px;
    height: 500px;
    padding-left: 15px;
}
.cxdireita {
    width: 450px;
    height: 500px;
    background-color: black;
}
.titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 800;
}
.p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}