body {
    background-color: white;
}
.principal {
    display: flex;
}
.caixa1 {
    background-color: #c358ed;
    height: 650px;
    width: 210px;
}
#section {
    display: flex;
}
.a01 {
    display: flex;
    background-color: #70d9b8;
    width: 100px;
}
.h2 {
    display: flex;
    background-color: #2eb2ff;
}
.h3 {
    display: flex;
    background-color: #44d9e6;
}
.h4 {
    display: flex;
    background-color: #ff5c5c;
   }
.baixo {
    display: flex;
    background-color: #ffbd4a;
    height: 250px;
    width: 800px;
    

}
